/* GLOBAL STYLING -------------------------------------- */

        /* GOOGLE FONTS -------------------- */
        @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
        /* END FONTS ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px dotted lime; */
}

body {
    background-color: dodgerblue;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Franklin", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
}
/* END GLOBAL ------------------------------------------ */





/* NAVBAR STYLING -------------------------------------- */
.mobile-nav {
    position: fixed;
    width: 100%;
    background-color: black;
}

.mobile-nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mobile-nav ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

.mobile-nav ul li a {
    display: block;
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    color: white;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#home-btn {
    width: 45%;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.drop-btn {
    color: white;
    padding: 0.3rem;
    border: 1px solid white;
    border-radius: 2px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    /* transition: all 1s ease-in-out; */
    width: 100%;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    border-top: 1px solid white;
}

.dropdown li {
    border-bottom: 1px solid white;
}

#burger-menu {
    display: none;
}

#burger-menu:checked ~ .dropdown {
    display: block;
    top: 51px;
}

.browser-nav {
    display: none;
}

        /* BROWSER/TABLET MEDIA QUERIES------------- */
        @media (min-width: 768px) {
            .mobile-nav {
                display: none;
            }

            .browser-nav {
                display: block;
                position: fixed;
                width: 100%;
                background-color: black;
            }
            
            .browser-nav ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .browser-nav ul li {
                list-style: none;
                width: 100%;
                text-align: center;
                font-size: 1.25rem;
                font-family: "Montserrat", sans-serif;
            }

            .browser-nav ul li:nth-child(1),
            .browser-nav ul li:nth-child(2) {
                border-right: 1px solid white;
            }
            
            .browser-nav ul li a {
                display: block;
                padding: 1rem;
                width: 100%;
                text-decoration: none;
                color: white;
            }

            #home-btn {
                width: 25%;
                font-weight: 600;
                font-size: 2rem;
                border: none;
            }
        }      
/* END NAVBAR ------------------------------------------ */





/* HOMEPAGE STYLING ------------------------------------ */
main {
    padding-top: 3.5rem;
    /* height: 100vh; */
}

.homepage-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 90%;
    height: 60vh;
    margin: auto;
    color: whitesmoke;
}

.homepage-title {
    font-size: 3rem;
}

.homepage-title p {
    text-align: center;
}

.homepage-title + p {
    font-size: 1rem;
    line-height: 1.75;
}

.tools-section {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;
}

.tools-title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 90%;
    /* padding: 2rem; */
    margin: 1rem auto;
    font-size: 1.25rem;
}

.logo-gallery h3 {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}

.logo-gallery p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}

.logo-gallery img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

.languages-box,
.tools-box {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.75rem;
    /* border: 2px solid dodgerblue; */
    border-radius: 5px;
    background-color: #6BB5FF;
}

.logo-container {
    width: 15rem;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    /* box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55); */
    /* border: 1px solid dodgerblue; */
    border-radius: 3px;
    background-color: whitesmoke;
}
/* END HOMEPAGE ---------------------------------------- */