/* GLOBAL STYLING -------------------------------------- */

        /* GOOGLE FONTS -------------------- */
        @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
        /* END FONTS ----------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px dotted lime; */
}

body {
    background-color: #1e90ff;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Franklin", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
}
/* END GLOBAL ------------------------------------------ */





/* NAVBAR STYLING -------------------------------------- */
.mobile-nav {
    position: fixed;
    width: 100%;
    background-color: black;
}

.mobile-nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mobile-nav ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

.mobile-nav ul li a {
    display: block;
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    color: white;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#name-btn {
    width: 45%;
    padding: 1rem;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.drop-btn {
    color: white;
    padding: 0.3rem;
    border: 1px solid white;
    border-radius: 2px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    /* transition: all 1s ease-in-out; */
    width: 100%;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    border-top: 1px solid white;
}

.dropdown li {
    border-bottom: 1px solid white;
}

#burger-menu {
    display: none;
}

#burger-menu:checked ~ .dropdown {
    display: block;
    top: 51px;
}

.browser-nav {
    display: none;
}

        /* BROWSER/TABLET MEDIA QUERIES------------- */
        @media (min-width: 768px) {
            .mobile-nav {
                display: none;
            }

            .browser-nav {
                display: block;
                position: fixed;
                width: 100%;
                background-color: black;
            }
            
            .browser-nav ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            .browser-nav ul li {
                list-style: none;
                width: 100%;
                text-align: center;
                font-size: 1.5rem;
                font-family: "Montserrat", sans-serif;
            }

            .browser-nav ul li a:hover {
                color: #FFA205;
            }

            .browser-nav ul li.current-page {
                pointer-events: none;
            }

            .browser-nav ul li.current-page a {
                color: dodgerblue;
            }

            .browser-nav ul li:nth-child(1),
            .browser-nav ul li:nth-child(2),
            .browser-nav ul li:nth-child(3),
            .browser-nav ul li:nth-child(4) {
                border-right: 1px solid white;
            }
            
            .browser-nav ul li a {
                display: block;
                padding: 1rem;
                width: 100%;
                text-decoration: none;
                color: white;
            }

            #name-btn {
                width: 25%;
                font-weight: 600;
                font-size: 2rem;
                border: none;
            }
        }      
/* END NAVBAR ------------------------------------------ */





/* HOMEPAGE STYLING ------------------------------------ */
main {
    padding-top: 3.5rem;
    /* height: 100vh; */
}

.homepage-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 90%;
    height: 60vh;
    margin: auto;
    color: whitesmoke;
}

.homepage-title {
    font-size: 3rem;
    color: #FFA205;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.homepage-title p {
    text-align: center;
}

.homepage-title + p {
    font-size: 1rem;
    line-height: 1.75;
    text-align: justify;
}

.tools-section {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;
}

.tools-title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 90%;
    /* padding: 2rem; */
    margin: 1rem auto;
    font-size: 1.25rem;
}

.tools-title i {
    color: #FFA205;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo-gallery h3 {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}

.logo-gallery p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}

.logo-card img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

.languages-box,
.tools-box {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.75rem;
    /* border: 2px solid dodgerblue; */
    border-radius: 5px;
    background-color: #6BB5FF;
}

.logo-card {
    width: 15rem;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    /* box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55); */
    /* border: 1px solid dodgerblue; */
    border-radius: 3px;
    background-color: whitesmoke;
}

        /* BROWSER/TABLET MEDIA QUERIES------------- */
        @media (min-width: 769px) {
            main {
                padding-top: 5.5rem;
            }

            .homepage-hero {
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
            }

            .homepage-title {
                font-size: 5rem;
                padding: 3rem;
            }

            .homepage-title p {
                width: 30vw;
            }

            .homepage-title + p {
                font-size: 1.5rem;
                padding: 3rem;
            }

            .tools-title {
                font-size: 1.5rem;
            }

            .logo-container {
                display: flex;
            }
        }
/* END HOMEPAGE ---------------------------------------- */





/* FOOTER STYLING -------------------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

footer i {
    color: white;
}

        /* BROWSER/TABLET MEDIA QUERIES------------- */
        @media (min-width: 769px) {
            footer p {
                font-size: 1rem;
            }

            footer i:hover {
                color: #FFA205;
                align-self: flex-end;
            }
        }
/* END FOOTER ------------------------------------------ */





/* PROJECTS PAGE STYLING ------------------------------- */
.projectspage-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 90%;
    height: 60vh;
    margin: auto;
    color: whitesmoke;
}

.projectspage-title {
    font-size: 3rem;
    color: #FFA205;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.projectspage-title + p {
    font-size: 1rem;
    line-height: 1.75;
    text-align: justify;
}

.projects-section {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;
}

.projects-title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 90%;
    /* padding: 2rem; */
    margin: 1rem auto;
    font-size: 1.25rem;
}

.projects-title i {
    color: #FFA205;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.projects-gallery h3 {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}

.projects-gallery p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}

.fcc-box,
.other-box {
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.75rem;
    /* border: 2px solid dodgerblue; */
    border-radius: 5px;
    background-color: #6BB5FF;
}

.projects-card {
    width: 20.5rem;
    padding: 0.5rem;
    margin: 1rem auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    /* box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55); */
    /* border: 1px solid dodgerblue; */
    border-radius: 3px;
    background-color: whitesmoke;
}

.projects-card img {
    display: block;
    margin: auto;
    width: auto;
    height: 150px;
}

.other-box .projects-card p {
    font-size: 2rem;
    padding: 1rem;
}

        /* BROWSER/TABLET MEDIA QUERIES------------- */
        @media (min-width: 769px) {
            main {
                padding-top: 5.5rem;
            }

            .projectspage-hero {
                flex-flow: row-reverse nowrap;
                justify-content: space-evenly;
                align-items: center;
            }

            .projectspage-title {
                font-size: 5rem;
                padding: 3rem;
            }

            .projectspage-title p {
                width: 30vw;
            }

            .projectspage-title + p {
                font-size: 1.5rem;
                padding: 3rem;
            }

            .projects-title {
                font-size: 1.5rem;
            }

            .projects-container {
                display: flex;
                flex-flow: row wrap;
            }

            .projects-card {
                width: 30rem;
                padding: 2rem;
            }

            .projects-card img {
                height: 200px;
                width: auto;
            }
        }
/* END PROJECTS ---------------------------------------- */





/* CONTACT PAGE STYLING -------------------------------- */
main {
    padding-top: 3.5rem;
    /* height: 100vh; */
}

.contact-hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 85vh;
    margin: auto;
    color: whitesmoke;
}

.contact-title {
    font-size: 3rem;
    color: #FFA205;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-title p {
    text-align: center;
}

.contact-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.contact-container label {
    margin: 0.5rem;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 0.25rem;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-container input[type="text"]:focus,
.contact-container input[type="email"]:focus,
.contact-container textarea:focus {
    outline: 4px solid #FFA205;
}

.contact-container input[type="submit"] {
    display: block;
    background-color: #FFA205;
    width: 17rem;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

        /* BROWSER/TABLET MEDIA QUERIES------------- */
        @media (min-width: 769px) {
            main {
                padding-top: 5.5rem;
            }

            .contact-hero {
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
                height: 80vh;
            }

            .contact-title {
                font-size: 5rem;
                padding: 3rem;
            }

            .contact-title p {
                width: 30vw;
            }
/* END CONTACT ----------------------------------------- */